@model FSD_NET_WebApplication.Models.Profilings

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Profilings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNIK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Educations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmployeeNIK">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
